.toolbar {
    width: 100%;
    background: linear-gradient(to bottom, #7c1cfc, #a172f3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.sliderlabel {
    width: 15%;
    font-size: 15px;
}

.slider {
    width: 55%;
}

.slidiv {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 18%;
    position: absolute;
    left: 80%;
    color: white;
}

.toolbar p {
    font-size: 90%;
}

