.container {
    color: white;
    background-color: #282c3c;
    width: 80%;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 16.5%;
    top: 8%;
    border-radius: 5px;
    height: 91%;
}

@media only screen and (orientation: landscape) and (max-width: 1000px){
    .container{
        width: 175%;
        height: 200%;
        left: 30%;
        top: 18%;
    }
  }

